server:
  port: 9902
spring:
  application:
    name: car-service
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521/orclpdb1
    username: amirsam
    password: myjava123
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.Oracle12cDialect
    show-sql: true
eureka:
  client:
    serviceUrl:
       defaultZone:
         ${EUREKA_URI:http://localhost:9001/eureka}
